body {
  font-family: sans-serif;
}

#titlebar {
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
}

table td, th {
  border: 1px solid #aaaaaa;
  padding: 8px;
}

#selector {
  cursor: pointer;
}

th.selected {
  background-color: lightblue;
}

th.selected a {
  color: black;
  text-decoration: none;
}

#toggle_extra_cell {
  text-align: center;
}

div.timeline {
  margin-top: 1ch;
}

div.tooltip {
  font-size: medium;
  max-width: 50ch;
  padding: 0ch 2ch;
}

div.consolename {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding-bottom: 0.5ch;
}

span.cpu {
  font-weight: bold;
}

#footer {
  text-align: center;
}
