#timeline {
  height: 220px;
}

div.tooltip {
  font-family: sans-serif;
  font-size: medium;
  max-width: 50ch;
  padding: 0ch 2ch;
}

span.cpu {
  font-weight: bold;
}

#legend {
  margin: auto;
  border-collapse: collapse;
}

#legend td, th {
  font-family: sans-serif;
  font-size: medium;
  border: 1px solid #aaaaaa;
  padding: 8px;
}
