body {
  font-family: sans-serif;
}

#titlebar {
  text-align: center;
}

div.tooltip {
  font-size: medium;
  max-width: 50ch;
  padding: 0ch 2ch;
}

span.cpu {
  font-weight: bold;
}

#legend {
  margin: auto;
  border-collapse: collapse;
}

#legend td, th {
  border: 1px solid #aaaaaa;
  padding: 8px;
}

#footer {
  text-align: center;
}
